<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список фильмов</title>
</head>
<body>
    <h1>Список фильмов</h1>
    <ul>
        {% for film in films %}
            <li>
                <strong>{{ film.title }}</strong><br>
                <em>{{ film.description }}</em><br>
                <p>{{ film.review }}</p>
            </li>
        {% empty %}
            <li>Нет фильмов в базе данных.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'film_create' %}">Добавить новый фильм</a>
</body>
</html>